* {
    margin: 0px; 
    padding: 0px; 
}
body html {
    margin: 0px; 
    padding: 0px; 
}
.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.signUpImageEyeImage {
    margin-left: -30px;
}
.imageSection {
    height: 100vh;
    background-image: url("../images/background.png");
    width: 50%;
    background-color: black;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
}
.logoImage {
    padding-left: 30px;
    padding-top: 30px;
}
.signForm {
    width: 50%;
    height: 100vh;
    background-color: #F7F7F7;
}
.signFormBlack {
    width: 50%;
    height: 100vh;
    background-color: black;
}
.fullNameDiv, .emailDiv, .passwordDiv {
    margin-bottom: 10px;
}
.fullname, .email, .password {
    height: 37px;
    padding-left: 12px;
    width: 23em;
    border-radius: 7px;
    outline: 1px solid #0000ff1a;
    border: 1px solid #0000ff2e
}
.container {
    display: grid;
    width: 78%;
    justify-content: center;
    align-items: center;
    height: 53%;
    margin-bottom: 98px;
}
.signUpPara {
    font-size: 12px;
    margin-left: -16px;
}
.formDivBlack {
    background-color: #111114;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 81vh;
    padding-top: 110px;
    margin-top: 19px;
    margin-left: 23px;
    margin-right: 20px;
    margin-bottom: 34px;
}
.formDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 81vh;
    padding-top: 110px;
    background-color: #FFFFFF;
    margin-top: 19px;
    margin-left: 23px;
    margin-right: 20px;
    margin-bottom: 34px; 
}
.displayHeadersPara {
    margin-bottom: 1em;
}
.checkboxDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.checkboxPara {
    font-size: 12px;
    font-size: 12px;
    padding-left: 5px;
}
.confirmPasswordDiv {
    margin-top: 10px;
    margin-bottom: 20px;
}

.signUpBtn {
    width: 20em;
    height: 43px;
    border-radius: 9px;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: #d1d1d4; 
    
}
.signUpBtn:hover, 
.signUpBtn:focus {
    background-color: #5250fa;
}


/* Adding media query */
@media (min-width: 300px) and (max-width: 320px) { 
    .inputDiv {
        margin-bottom: 15px; 
        padding-left: 5px; 
    }
    .formDiv {
        padding-left: 14px;
    }
    .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
    .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .fullname, .email, .password {
        width: 21em;
    }
    .loginBtn {
        width: 19em;
    }
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
     
  }
  @media (min-width: 320px) and (max-width: 340px) { 
    .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
     
  }
  /* Media query for tablets and larger screens */
  @media (min-width: 340px) and (max-width: 360px) {
    .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .displayHeadersPara {
        margin-bottom: 1em;
        padding-left: 10px;
      }
    .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .imageSection {
          height: 13vh;
          width: 22em;
      }
      .switchImage {
        margin-left: 5px;
      }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
   
  }
  
  /* Media query for desktops and larger screens */
  @media (min-width: 360px) and (max-width: 380px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .displayHeadersPara {
        margin-bottom: 1em;
        padding-left: 10px;
      }

    .formDiv {
        margin-right: -80px;
    }

    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
    .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
      .imageSection {
        height: 14vh;
        width: 24em;
      }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
     
  }
  
  /* Media query for landscape-oriented phones */
  @media (min-width: 380px) and (max-width: 400px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .imageSection {
            height: 12vh;
            width: 25em;
      }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  
  /* Media query for smaller mobile phones */
  @media (min-width: 400px) and (max-width: 420px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .imageSection {
        height: 14vh;
        width: 27em;
      }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  }
  
  @media (min-width: 420px) and (max-width: 440px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .imageSection {
        height: 12vh;
        width: 27em;
      }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  
  @media (min-width: 440px) and (max-width: 460px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  @media (min-width: 460px) and (max-width: 480px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  }
  @media (min-width: 480px) and (max-width: 500px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  @media (min-width: 500px) and (max-width: 520px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  @media (min-width: 520px) and (max-width: 540px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  @media (min-width: 540px) and (max-width: 560px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  @media (min-width: 560px) and (max-width: 580px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  @media (min-width: 580px) and (max-width: 600px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  @media (min-width: 600px) and (max-width: 620px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  @media (min-width: 620px) and (max-width: 640px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  @media (min-width: 640px) and (max-width: 660px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  @media (min-width: 660px) and (max-width: 680px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }
  @media (min-width: 680px) and (max-width: 700px) {
    .mainSection {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .imageSection {
          height: 16vh;
          width: 100%;
      }
      .signForm {
        width: 21em;
        height: 89vh;
        background-color: white;
        padding-left: 59px;
    }
    .signFormBlack {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
      .loginForm {
          width: 100%;
          height: 90vh;
          background-color: #F7F7F7;
      }
      .formDivBlack {
          padding-top: 16px;
          width: 87%;
          height: 90vh;
          padding-top: 25px;
          background-color: black;
      }
      .switchImage {
          margin-left: 35px;
          margin-top: 54px;
          height: 33px;
          width: 108px;
          padding-left: 14px;
          padding-right: 15px;
          font-weight: bold;
          background-color: #2f2e59f2;
          border: none;
          outline: none;
          color: white;
          border-radius: 4px;
          font-size: 12px;
          margin-right: 10px;
          margin-bottom: -42px;
      }
      .formDiv {
          padding-top: 30px;
          display: grid;
          justify-content: center;
          align-items: flex-start;
          height: 81vh;
          background-color: #FFFFFF;
          margin-top: 19px;
          margin-left: 0px;
          margin-right: 1px;
          margin-bottom: 34px;
      }
  
  }